html {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	margin: 0 auto;
	background-color: #efefef;
	font-family: 宋体;
	color: #222;
}

iframe {
	width: 100% !important;
	min-width: 3.4rem !important;
	max-width: 3.4rem !important;
}
blockquote {
	width: 100% !important;
	min-width: 3.4rem !important;
	max-width: 3.4rem !important;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

ul,
li,
h3,
h4,
p{
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

.video {
	width: 100%;
}

.img-box {
	font-size: 0;
}

.button {
	cursor: pointer;
}



.main {
	max-width: 677px;
	margin: 0 auto;
}

.main .max-width {
	max-width: 677px;
}

.web {
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 0.2rem 0.18rem 1rem;
	height: auto;
	overflow: hidden;
	font-size: 0.16rem;
	background-image: url(../image/7.jpg);
	background-size: 100% 100%;
}

.web>.title {
	display: flex;
	font-size: .2rem;
	padding-bottom: 0.3rem;
}
.web>.title .title-item {
	writing-mode:tb-rl;
	margin-right: 0.32rem;
}

.web .img-box1 {
	margin: 0 0 0.2rem;
}
.web .img-box1 img {
	margin: 0;
	padding: 0;
	border: 1px solid #e3d3bd;
}

.content {
	width: 100%;
	overflow: hidden;
	font-size: 0.13rem;
	line-height: 1.5;
}
.content hr {
	margin: 0.1rem 0;
	border: 1px dashed #eee5d9;
}
.content p {
	padding: 0.0425rem 0;
	font-size: .13rem;
}
.content strong {
	font-size: .15rem;
}

.content .ul {
	padding-bottom: 0.05rem;
}

.content .ul li {
	padding-top: 0.055rem;
}

.content img {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding-top: 0.05rem;
}

.content h3 {
	padding: 0.05rem 0;
	font-size: .13rem;
}
.content h4 {
	margin-top: 0.0925rem;
	font-size: .13rem;
}

.content h3.section-title {
	margin: 0.25rem 0 0.1rem;
	padding: 0.15rem;
	border: 1px dashed #eee5d9;
}

.content .dir .dir-title {
	font-size: .14rem;
	padding: 0.135rem 0;
}
.content .dir li:not(:last-child) {
	padding-bottom: 0.105rem;
}




.button {
	width: 100%;
	height: 0.86rem;	
	box-sizing: border-box;
	padding: 0.15rem;
	color: #006100;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line-button {
	margin-top: 0.12rem;
	padding-right: 0.96rem;
	font-size: 0.17rem;
	background-image: url(../image/8.png);
	background-size: 100% 100%;
}

.signup-button {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 0.05rem solid #c6deaa;
	font-size: 0.19rem;
}





.alert-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-wrap .alert-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #333;
	opacity: .5;
}

.alert-wrap .alert {
	position: relative;
	width: 80vw;
	max-width: 4rem;
	padding: 0.2rem;
	background-color: #fff;
	border-radius: 0.05rem;
	overflow: hidden;
	font-size: 0.16rem;
	z-index: 2;
	text-align: center;
	transition: all .3s ease-out;
}

.alert-wrap .alert .alert-close {
	position: absolute;
	top: 0.05rem;
	right: 0.1rem;
	font-size: 0.22rem;
}

.alert-wrap .alert .alert-title {
	font-size: 0.16rem;
	font-weight: bold;
}

.alert-wrap .alert .alert-message {
	margin-top: 0.2rem;
	font-size: 0.14rem;
}

.alert-wrap .alert .alert-input {
	margin-top: 0.2rem;
	width: 90%;
	padding: 0.1rem;
	border-radius: 0.05rem;
	border: 1px solid #ececec;
}

.alert-wrap .alert .alert-input.error {
	border-color: #dc3545;
	box-shadow: 0 0 1px 1px #dc3545;
}

.alert-wrap .alert .alert-input:focus {
	border-color: #007bff;
	box-shadow: 0 0 1px 1px #007bff;
	outline: none;
}

.alert-wrap .alert .alert-input::placeholder {
	fofont-size: 0.12rem;
	color: #999;
}

.alert-wrap .alert .alert-footer {
	margin-top: 0.2rem;
	display: flex;
	justify-content: flex-end;
}

.alert-wrap .alert .alert-button {
	padding: 0.06rem 0.15rem;
	border-radius: 0.03rem;
	border: 1px solid #ececec;
	background-color: #007bff;
	text-align: center;
	color: #fff;
	font-size: 0.14rem;
}

.alert-wrap .alert .alert-button:not(:first-child) {
	margin-left: 0.08rem;
}

.alert-wrap .alert .alert-button.alert-button-cancel {
	background-color: #6c757d;
}



.facebook-iframe {
	/* height: 2rem; */
	/* max-height: 2.49rem; */
}
#facebook {
	display: flex;
	justify-content: center;
}
#tiktok {
	display: flex;
	justify-content: center;
}
#youtube {
	display: flex;
	justify-content: center;
}

#instagram {
	display: flex;
	justify-content: center;
}

#twitter {
	display: flex;
	justify-content: center;
}